/*login css*/
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.login-body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom , blue, yellow, red);
  height: 100vh;
}

.login {
  background-color: #ffffff;
  width: 50%;
  height: 50%;
  text-align: center;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
  transition: transform 0.3s ease;
}

.login:hover {
  transform: scale(1.05);
}

.login h2 {
  margin-bottom: 20px;
  color: black;
}

.login label {
  display: block;
  margin-bottom: 10px;
}

.login button {
  padding: 10px 20px;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login button.red {
  background-color: #FF5252; /* Vermelho */
}

.login button.blue {
  background-color: #2196F3; /* Azul */
}

.login button.yellow {
  background-color: #FFEB3B; /* Amarelo */
}

.login button:hover {
  opacity: 0.8; /* Opacidade reduzida ao passar o mouse */
}
