/*login css*/
.login-body {
    text-align: center;
    background-color: aliceblue;
    background-size: cover;
    min-height: 100vh;
    background: url("images/fundo.jpg") no-repeat center;
  background-size: cover;
  }
  .login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .login h2 {
    margin-bottom: 20px;
  }
  
  .login label {
    display: block;
    margin-bottom: 10px;
  }
  
  .login button {
    padding: 10px 20px;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }