/* Define a cor do texto, margens e a fonte da página */
body {
    color: white;
    margin: 0;
    font-family: rubik;
}

/* Define as propriedades para o vídeo de fundo */
#video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

/* Ajusta o vídeo de fundo para cobrir a tela */
.video-background {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Define a área do contêiner para os Pokémon */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px;
    margin: 0 auto;
}

/* Define as propriedades de estilo para cada item Pokémon */
.pokemon-item {
    flex-basis: 200px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.pokemon-item:hover {
    transform: translateY(-10px) scale(1.05);
}

/* Define o tamanho das imagens dos Pokémon */
.pokemon-image {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
    transition: transform 0.3s ease;
}

.pokemon-item:hover .pokemon-image {
    transform: rotate(10deg);
}

/* Define o estilo do nome dos Pokémon */
.pokemon-name {
    margin-top: 5px;
    font-size: 16px;
    text-align: center;
    color: #000; /* Preto */
    transition: color 0.3s ease;
}

.pokemon-item:hover .pokemon-name {
    color: #000; /* Preto */
}

.edit-button{
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    display: none; 
    width: 80px; 
    position: absolute;
    bottom: -25px; 
    text-align: center;
}

.edit-button {
    background-color: #4CAF50; 
    left: 25px; 
}

.delete-button {
    background-color: #f44336; 
    left: 110px; 
}

/* Define o estilo da imagem principal */
.escolhereq {
    max-width: 100%; 
    height: auto; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

/* Define o estilo para o título da página */
h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 54px;
}

/* Define o estilo para a mensagem de confirmação */
.confirmation-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    z-index: 1001; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
}

.confirmation-message p {
    margin: 0 0 10px; 
}

.confirmation-buttons {
    text-align: center;
}

.confirmation-button {
    cursor: pointer;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 0 10px;
}

.confirmation-button.confirm {
    background-color: #4CAF50; 
}

.confirmation-button.cancel {
    background-color: #f44336; 
}

.pokemon-card {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #BBB2EB;
    opacity: 0.5;
}

.pokemon-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #BBB2EB;
    color: #fff;
    padding: 10px;
    text-align: center;
}



.edit-button,
.delete-button {
    position: absolute;
    bottom: -25px; 
    display: none;
    width: 80px;
    text-align: center;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s;
}
.edit-button:hover,
.delete-button:hover {
    transform: scale(1.05);
}

.edit-button {
    left: 25px; 
    background-color: #4CAF50; 
    color: white;
}

.delete-button {
    left: 110px; 
    background-color: #f44336; 
    color: white;
}

#pokedex {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
    padding-inline-start: 0;
}

.card {
    list-style: none;
    padding: 40px;
    background-color: transparent;
    color: white;
  text-align: center;
}

.card:hover {
    animation: bounce 0.5s linear;
}

.card-title {
    text-transform: capitalize;
    margin-bottom: 0px;
    font-size: 32px;
    font-weight: normal;
}
.card-subtitle {
    margin-top: 5px;
    color: white;
    font-weight: lighter;
}

.card-image {
    height: 180px;
}

.edit-confirmation-message {
    display: none;
    position: fixed;
    text-align: center; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    z-index: 1001;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.edit-confirmation-message input[type="text"] {
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
}


.edit-confirmation-message p {
    margin: 0 0 10px;
    text-align: center;
}

.edit-confirmation-message input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
}

.edit-confirmation-message button {
    cursor: pointer;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 10px 5px;
}

.confirm-button {
    background-color: #4CAF50; 
}

.cancel-button {
    background-color: #f44336; 
}

.confirmarel {
    color: black;
}

/* Define o estilo para os botões de voltar e pokédex */
.btn-back, .btn-pokedex {
    position: fixed;
    top: 2%; 
    z-index: 9999; 
    padding: 8px 12px; 
    width: auto; 
    border: 2px solid #000;
    border-radius: 5px;
    font-size: clamp(8px, 5vw, 1rem);
    font-weight: 600;
    color: white;
    background-color: #444;
    box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
}

.btn-back {
    left: 20px; 
}

.btn-pokedex {
    right: 20px; 
}

.button:active {
    box-shadow: inset -4px 4px 0 #222;
    font-size: 0.9rem;
}

/* Define a animação de bounce */
@keyframes bounce {
    20% {
        transform: translateY(-6px);
    }
    40% {
        transform: translateY(0px);
    }

    80% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(0);
    }
}

/* Media queries para tornar o layout responsivo */
@media (max-width: 800px) {
    .escolhereq {
        width: 80%; /* Reduz a largura da imagem para 80% da largura da tela */
    }
}

@media (max-width: 600px) {
    .pokemon-item {
        flex-basis: calc(100% - 20px);
    }

    .edit-button, .delete-button {
        width: 100%;
        left: 0;
        margin-top: 5px;
        bottom: -35px;
    }

    .btn-back, .btn-pokedex {
        font-size: 12px;
    }

    .escolhereq {
        width: 50%; /* Reduz a largura da imagem para 70% da largura da tela */
    }
}

@media (max-width: 400px) {
    .btn-back, .btn-pokedex {
        font-size: 10px;
        padding: 6px 8px;
    }

    .pokemon-item {
        margin: 5px;
        padding: 5px;
    }

    .pokemon-image {
        width: 80px;
        height: 80px;
    }

    .pokemon-name {
        font-size: 14px;
    }

    .escolhereq {
        width: 40%; /* Reduz a largura da imagem para 60% da largura da tela */
    }
}
