@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oxanium', cursive;
}

.index-body {
  text-align: center;
  min-height: 100vh;
}

#video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.video-background {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main {
  display: inline-block;
  margin-top: 2%;
  padding: 15px;
  position: relative;
}

.pokedex {
  width: 100%;
  max-width: 425px;
}

.pokemon__image {
  position: absolute;
  bottom: 55%;
  left: 50%;
  transform: translate(-63%, 20%);
  height: 18%;
}

.pokemon__data {
  position: absolute;
  font-weight: 600;
  color: #aaa;
  top: 54.5%;
  right: 27%;
  font-size: clamp(8px, 5vw, 25px);
}

.pokemon__name {
  color: #3a444d;
  text-transform: capitalize;
}

.form {
  position: absolute;
  width: 65%;
  top: 65%;
  left: 13.5%;
}

.input__search {
  width: 100%;
  padding: 4%;
  outline: none;
  border: 2px solid #333;
  border-radius: 5px;
  font-weight: 600;
  color: #3a444d;
  font-size: clamp(8px, 5vw, 1rem);
  box-shadow: -3px 4px 0 #888, -5px 7px 0 #333;
}

.buttons {
  position: absolute;
  bottom: 10%;
  left: 50%;
  width: 65%;
  transform: translate(-57%, 0);
  display: flex;
  gap: 10px;
}

.button {
  width: 50%;
  padding: 4%;
  border: 2px solid #000;
  border-radius: 5px;
  font-size: clamp(8px, 5vw, 1rem);
  font-weight: 600;
  color: white;
  background-color: #444;
  box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
}

.button:active {
  box-shadow: inset -4px 4px 0 #222;
  font-size: 0.9rem;
}

.pokemon-stats-container {
  position: absolute;
  left: 155%;
  top: 60%;
  transform: translate(-50%, -50%);
  text-align: left;
}

.pokemon-stats {
  max-width: 200px;
  margin: 0 auto;
  margin-bottom: 20px;
  color: white;
}

.stat-bar {
  margin-bottom: 10px; /* Adiciona espaçamento vertical entre as barras */
}


.estatisticas {
  position: absolute;
  top: 25%;
  left: 160%;
  transform: translateX(-50%);
}

.btn-back {
  position: fixed;
  top: 2%;
  left: 1%;
  z-index: 9999;
  font-size: 14px;
  padding: 8px 12px;
  width: auto;
}

.btn-perfil {
  display: none;
}

.stat-bar {
  display: flex;
  align-items: center;
  margin-bottom: 15px; /* Espaço entre as barras */
}

.stat-name {
  width: 100px;
  text-align: right;
  margin-right: 15px;
  font-weight: bold;
  color: #000000;
}

.stat-value {
  position: relative;
  flex-grow: 1;
  height: 25px;
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}

.stat-value span {
  display: block;
  height: 100%;
  border-radius: 5px;
  background-color: #888;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: width 0.3s ease-in-out;
  padding-left: 5px; /* Adiciona espaço à esquerda dos números */
  padding-top: 2px;
}


.stat-value span[data-stat="hp"] {
  background-color: #4caf50; /* Green for HP */
}

.stat-value span[data-stat="attack"] {
  background-color: #f44336; /* Red for Attack */
}

.stat-value span[data-stat="defense"] {
  background-color: #2196f3; /* Blue for Defense */
}

.stat-value span[data-stat="special-attack"] {
  background-color: #ff9800; /* Orange for Special Attack */
}

.stat-value span[data-stat="special-defense"] {
  background-color: #9c27b0; /* Purple for Special Defense */
}

.stat-value span[data-stat="speed"] {
  background-color: #ffeb3b; /* Yellow for Speed */
}




